<div id="main">
  <div class="container">
    <header>
      <nav>
        <div class="logo">
          <span class="icon-logotype">
          </span>
          <span class="name-logotype">
            <span>
              SMART
            </span>
            <span>
              ETHEREUM
            </span>
          </span>
        </div>
      </nav>
    </header>
    <section>
      <h1>
        Smart-Ethereum typically profits<br>
        a minimum of $1,000 daily
      </h1>
      <div class="base-info">
        <div>
          <div class="comments">
            Our members work an average of 20 minutes a day or less. Because
          </div>
          <div class="comments">
            the software handles the trading, the amount of “work” required
          </div>
          <div class="comments">
            is minimal. Some members earned their first million within just 101 days.
          </div>
          <div class="box-button">
            <button class="btn-started">
              GET STARTED NOW
            </button>
          </div>
        </div>
        <div class="desktop">
          <div class="laptop-conditions">
            <div class="conditions">
              <h2>
                Your profits are unlimited within Smart-Ethereum
              </h2>
              <div>
                Members of Smart-Ethereum get a copy of our proprietary software free of charge.
              </div>
              <div>
                To become a member, simply fill out the form on this page.
              </div>
            </div>
            <div class="form">
              <input type="text" placeholder="Your name">
              <input type="email" placeholder="Your Email">
            </div>
            <div class="text-center">
              <button class="form-btn-started">
                GET STARTED NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="desktop-conditions">
      <div class="conditions">
        <h2>
          Your profits are unlimited within Smart-Ethereum
        </h2>
        <div>
          Members of Smart-Ethereum get a copy of our proprietary software free of charge.
        </div>
        <div>
          To become a member, simply fill out the form on this page.
        </div>
      </div>
      <div class="form">
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your Email">
      </div>
      <div class="text-center">
        <button class="form-btn-started">
          GET STARTED NOW
        </button>
      </div>
    </div>
  </div>
</div>
